.about-section {
  height: fit-content;
  background-color: black;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  transform: translateY(50vh);
  overflow: hidden;
  position: relative;
}

.projects-section {
  height: 140vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -5vh;
  background-color: #fdfcee;
  color: black !important;
}

.contact-section {
  height: 140vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -5vh;
  background-color: black;
}

p {
  color: white;
  font-size: 24px;
  font-family: Helvetica;
  font-weight: lighter;
  margin: 5vh;
  line-height: 2;
  width: 40vw;
  float: left;
  margin-left: 3.5vh;
  margin-top: 3vh;
}

.tab-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.profile {
  border-radius: 5%;
  max-width: 100%;
  max-height: 100%;
}

.for-profile {
  max-width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}

.resume {
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 200px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  float: left;
  font-family: Helvetica;
  text-decoration: none;
  font-size: 24px;
}

.resume:hover {
  background-color: #fdfcee;
  color: black;
  cursor: pointer;

}

@keyframes fadeInUp {
    from {
      transform: translateY(50vh);
    }

    50% {
      transform: translateY(-2vh);
    } 

    to {
      transform: translateY(0);
    }
  }

  @keyframes fadeInDown {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(50vh);
    }
  }


  .fade-in-up {
    animation: 0.5s both ease-in-out fadeInUp;
  }

.title {
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  padding-left: 50px;
  padding-top: 40px;

}

.black-title {
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  padding-left: 50px;
  padding-top: 40px;
}

.invisible {
  animation: 0.5s ease-in-out fadeInDown;
}
