.about-section {
    height: 140vh;
    background-color: black;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.projects-section {
  height: 100vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -30vh;
  background-color: #fdfcee;
}

.contact-section {
  height: 70vh;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -30vh;
  background-color: black;
}

@keyframes fadeInUp {
    from {
      transform: translateY(50vh);
    }

    50% {
      transform: translateY(-2vh);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes fadeInDown {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(50vh);
    }
  }


  .fade-in-up {
    animation: 0.5s both ease-in-out fadeInUp;
  }

.title {
  font-size: 25px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  padding-left: 50px;
  padding-top: 40px;

}

.invisible {
  animation: 0.5s both ease-in-out fadeInDown;
}
