@import "Navbar.css";
@import "introduction.css";
@import "sections.css";

:root {
    background-color: #fdfcee;
}

html,
body {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    scroll-behavior: smooth;
    margin-bottom: 0;
}